<body cz-shortcut-listen="true" >
  <div

    class="container-fluid overflow-hidden   text-center " style="background-image: '../../../assets/img/imagenes-wiki-car/oldtimer-4097480_1920.jpg'; ">

    <img class="  img-fluid  mt-5" style="padding-top: 80px;" width="500" height="500"  src="../../../assets/img/imagenes-wiki-car/clasicsl.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
    <div class="col-md-5 p-lg-5 mx-auto my-5"  >
      <h1 class="display-4 font-weight-normal">Coches Clasicos</h1>
      <br>
      <br>
      <br>
      <a class="btn btn-outline-warning" routerLink="/home">Volver a home</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div
      class="product-device product-device-2 shadow-sm d-none d-md-block"
    ></div>
    <hr>
  </div>


  <div class="container-fluid mb-2" >
    <div class="card rounded shadow-lg" >
      <div class="card-body">
        <h5 class="card-title" style="color:#3cc4ce">Porsche 911 <hr></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <br>
      </div>
      <img src="../../../assets/img/imagenes-wiki-car/porsche-clasico.jpg" style="height: 45rem ;" class="card-img-top" alt="...">
    </div>

</div>


<div class="container-fluid" >
  <div class="card rounded shadow-lg" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <br>
    </div>
    <img src="../../../assets/img/imagenes-wiki-car/coche-antiguo.jpg" style="height: 45rem ;" class="card-img-top" alt="...">
  </div>

</div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <div style="position: static !important"></div>
  <script>
    window.jQuery ||
      document.write(
        '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
      );
  </script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>
  <script>
    Holder.addTheme("thumb", {
      bg: "#55595c",
      fg: "#eceeef",
      text: "Thumbnail",
    });
  </script>

  <div>
    <app-footer></app-footer>
  </div>
</body>
