<body cz-shortcut-listen="true" >
  <div
    style="background-color:  #007991 ;background-image: '../../../assets/img/imagenes-wiki-car/porsche-4795517_1920.jpg'; "
    class="container-fluid overflow-hidden  p-md-5 m-md-3 text-center " >

    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-5" width="500" height="500"  src="../../../assets/img/imagenes-wiki-car/car-lamb.svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
    <div class="col-md-5 p-lg-5 mx-auto my-5"  >
      <h1 class="display-4 font-weight-normal">Super Deportivos</h1>
      <br>
      <br>
      <br>
      <a class="btn btn-outline-warning" routerLink="/home">Volver a home</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div
      class="product-device product-device-2 shadow-sm d-none d-md-block"
    ></div>

  </div>

  <!-- coche 1 -->>

  <div class="container" id="coche1">
    <div class="row featurette mt-4" style="margin-bottom: 150px">
      <div class="col-md-7" style="text-align: center; margin-top: 150px">
        <h2 class="featurette-heading fw-normal lh-2">
          First featurette heading.
          <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">
          Some great placeholder content for the first featurette here. Imagine
          some exciting prose here.
        </p>
      </div>
      <div class="col-md-5" style="margin-top: 50px">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          src="https://c4.wallpaperflare.com/wallpaper/964/110/470/1962-250-ferrari-gto-wallpaper-preview.jpg"
          role="img"
          aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        />
      </div>
      </div>
      <hr>
      </div>


      <!-- coche 2 -->>

      <div class="container">
        <div class="row featurette mt-4" style="margin-bottom: 150px">
          <div class="col-md-7" style="text-align: center; margin-top: 150px">
            <h2 class="featurette-heading fw-normal lh-2">
              First featurette heading.
              <span class="text-muted">It’ll blow your mind.</span>
            </h2>
            <p class="lead">
              Some great placeholder content for the first featurette here. Imagine
              some exciting prose here.
            </p>
          </div>
          <div class="col-md-5" style="margin-top: 50px">
            <img
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              src="https://c4.wallpaperflare.com/wallpaper/964/110/470/1962-250-ferrari-gto-wallpaper-preview.jpg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            />
          </div>
          </div>
          </div>

          <!-- coche 3 -->>

          <div class="container">
            <div class="row featurette mt-4" style="margin-bottom: 150px">
              <div class="col-md-7" style="text-align: center; margin-top: 150px">
                <h2 class="featurette-heading fw-normal lh-2">
                  First featurette heading.
                  <span class="text-muted">It’ll blow your mind.</span>
                </h2>
                <p class="lead">
                  Some great placeholder content for the first featurette here. Imagine
                  some exciting prose here.
                </p>
              </div>
              <div class="col-md-5" style="margin-top: 50px">
                <img
                  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                  width="500"
                  height="500"
                  src="https://c4.wallpaperflare.com/wallpaper/964/110/470/1962-250-ferrari-gto-wallpaper-preview.jpg"
                  role="img"
                  aria-label="Placeholder: 500x500"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                />
              </div>
              </div>
              </div>

              <!-- coche 4-->>

              <div class="container">
                <div class="row featurette mt-4" style="margin-bottom: 150px">
                  <div class="col-md-7" style="text-align: center; margin-top: 150px">
                    <h2 class="featurette-heading fw-normal lh-2">
                      First featurette heading.
                      <span class="text-muted">It’ll blow your mind.</span>
                    </h2>
                    <p class="lead">
                      Some great placeholder content for the first featurette here. Imagine
                      some exciting prose here.
                    </p>
                  </div>
                  <div class="col-md-5" style="margin-top: 50px">
                    <img
                      class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                      width="500"
                      height="500"
                      src="https://c4.wallpaperflare.com/wallpaper/964/110/470/1962-250-ferrari-gto-wallpaper-preview.jpg"
                      role="img"
                      aria-label="Placeholder: 500x500"
                      preserveAspectRatio="xMidYMid slice"
                      focusable="false"
                    />
                  </div>
                  </div>
                  </div>



  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <div style="position: static !important"></div>
  <script>
    window.jQuery ||
      document.write(
        '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
      );
  </script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>
  <script>
    Holder.addTheme("thumb", {
      bg: "#55595c",
      fg: "#eceeef",
      text: "Thumbnail",
    });
  </script>

  <div>
    <app-footer></app-footer>
  </div>
</body>
