
<body cz-shortcut-listen="true" >
  <div

    class="container-fluid overflow-hidden   text-center " style="background-image: '../../../assets/img/imagenes-wiki-car/oldtimer-4097480_1920.jpg'; ">

    <img class="  img-fluid  mt-5" style="padding-top: 80px;" width="500" height="500"  src="../../../assets/img/imagenes-wiki-car/icon-coche1.svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
    <div class="col-md-5 p-lg-5 mx-auto my-5"  >
      <h1 class="display-4 font-weight-normal">CoChes Tuneados</h1>
      <br>
      <br>
      <br>
      <a class="btn btn-outline-warning" routerLink="/home">Volver a home</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div
      class="product-device product-device-2 shadow-sm d-none d-md-block"
    ></div>
    <hr>
  </div>


  <div class="container-fluid mb-2" style="width: 100%;" >
    <div class="card rounded shadow-lg" >
      <div class="card-body">
        <h5 class="card-title" style="color:#3cc4ce">Porsche 911 <hr></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <br>
        <img src="http://assets.superstreetonline.com/f/174949282.jpg?" style="height: 45rem ;" class="card-img-top img-fluid" alt="...">
      </div>

    </div>

</div>


 <div class="container-fluid mb-2" style="width: 100%;" >
  <div class="card rounded shadow-lg" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <br>

      <img src="https://i.pinimg.com/originals/a4/07/11/a4071112aad4406050a7edf9744e8f1f.jpg" style="height: 45rem ; background-size: cover;" class="card-img-top" alt="...">
    </div>

  </div>

</div>
  

  <div>
    <app-footer></app-footer>
  </div>
</body>
