
<html >

<div class="wrapper" style="height:100%; background-image: url('https://fotografias.lasexta.com/clipping/cmsimages01/2020/05/15/5818DFDC-51C2-48FE-BB24-3614F6DAF93E/98.jpg?crop=947,533,x167,y0&width=1900&height=1069&optimize=high&format=webply'); background-repeat: no-repeat;">
    <div  class="body">

      <h1 style="margin-top: 40px; color:white; margin:0; padding: 5px;">Crear Coche</h1>
           <form  class="mt-5">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Imagen : <span style="color:grey">https://wallpaperset.com/w/full/5/9/5/53883.jpg</span></label>


              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Marca</label>


              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Modelo</label>


              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Motor</label>


              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >año</label>

            </div>
            <div class="form-floating mb-3">
              <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
              <label >categoria</label>
              </div>


              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" >Crear</button>
              </div>

         </form>

    </div>







</div>
<div class="container-sm mt-4" style="background-color: rgb(17, 204, 27);">
  <h1>hola q ase</h1>
</div>
<app-footer></app-footer>

</html>
