
<html style="background-color: grey;">

<div class="wrapper" style="height:100%;">
    <div  class="body">
       
         <h1 style="margin-top: 40px;">Crear Coche</h1>
         <form  class="mt-5">
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Imagen</label>
               
                
              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Marca</label>
               
                
              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Modelo</label>
               
                
              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >Motor</label>
               
                
              </div>
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
                <label >año</label>
               
            </div>
            <div class="form-floating mb-3">
              <input type="email" formControlName="email" class="form-control"  placeholder="name@example.com">
              <label >categoria</label>
              </div>
              
              
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" >Crear</button>    
              </div>
             
         </form>
    </div>

   
   
   
</div>
<app-footer></app-footer>

</html>