<body cz-shortcut-listen="true"  sytle="width:100%; height:100%;">



  <main>

    <div  style=" width: 100%; height: 100%;" id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="wrapper" >
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item" sytle="width:100%; height:100%;">
          <img class="bd-placeholder-img" width="100%" height="100%"  src="../../../assets/img/imagenes-wiki-car/fono1.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

          <div class="container">
            <div class=" carousel-caption ">
              <h1 style="text-align: start; margin-top:60px">Welcome To RuXX Garage</h1>
              <p>Una wiki donde podras encontrar cientos de coches y sus caracteristicas junto a una imagen</p>

            </div>
          </div>
        </div>
        <div class="carousel-item active carousel-item-start">
          <img class="bd-placeholder-img" width="100%" height="100%"  src="../../../assets/img/imagenes-wiki-car/pagani-2769165_1920.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p>Some representative placeholder content for the second slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-item-next carousel-item-start">
          <img class="bd-placeholder-img" width="100%" height="100%" src="https://i.pinimg.com/originals/86/e3/0a/86e30ad6dfe9a6dae2b94f8402e855c6.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

          <div class="container"  >
            <div class="carousel-caption ">
              <h1>Welcome To RuXX Garage</h1>
              <p>Una wiki donde podras encontrar cientos de coches y sus caracteristicas junto a una imagen</p>
              <p> <a class="btn btn-lg btn-outline-warning" routerLink="">ir a  Garage  </a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



      <!-- START THE FEATURETTES -->



      <div class="row featurette mt-4" style="margin-bottom: 150px;">
        <div class="col-md-7" style="text-align: center; margin-top: 150px;">
          <h2 class="featurette-heading fw-normal lh-2"><span style="color:red;">Ferrari 250 GTO </span> <span style="color:beige">1962 - 1964</span></h2>
          <p class="lead">Actualmente el coche más caro del mundo, Tan solo 30 unidades </p>
        </div>
        <div class="col-md-5" style="margin-top: 50px;">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://c4.wallpaperflare.com/wallpaper/964/110/470/1962-250-ferrari-gto-wallpaper-preview.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

        </div>
      </div>


      <main>

        <section class="py-5 text-center container-fluid" style="background-color: rgb(72, 72, 82);">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">RuXx GaRage</h1>
              <p class="lead text-muted">Esta es una selección de mis coches Favoritos</p>
              <p>
                <a href="#" class="btn btn-primary my-2">ir a Garage</a>

              </p>
            </div>
          </div>
        </section>

        <div class="album py-5 bg-light">
          <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://tiempo.hn/wp-content/uploads/2021/07/the-fast-and-the-furious-toyota-supra-auction-three-quarters-low-angle.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:#61A2DA">Toyota</span><br>Modelo: <span style="color:grey">Supra MK4 </span><br>Motor: <span style="color:grey">2JZ-GTE 3.0 biturbo 330cv</span> <br>Año: <span style="color:grey">1993 - 2003</span> <br>Categoria: <span style="color:grey">tuning</span> </p>

                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://fuelcarmagazine.com/wp-content/uploads/2020/09/%C2%A9-Fuel-Car-Magazine-1.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:#61A2DA">Nissan</span><br>Modelo: <span style="color:grey">Skyline GTR </span><br>Motor: <span style="color:grey">2JZ-GTE 3.0 biturbo 330cv</span> <br>Año: <span style="color:grey">1999 - 2002</span> <br>Categoria: <span style="color:grey">tuning</span> </p>
                    <div class="d-flex justify-content-between align-items-center">


                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2022/08/09/16600409348259.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:red">Ferrari</span><br>Modelo: <span style="color:grey">F40 </span><br>Motor: <span style="color:grey">V8 biturbo 478cv</span> <br>Año: <span style="color:grey">1987 - 1992</span> <br>Categoria: <span style="color:grey">Superdeportivo</span> </p>
                    <div class="d-flex justify-content-between align-items-center">


                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ford-mustang-eleanor-1-1606041509.jpg?crop=1.00xw:0.752xh;0,0.248xh&resize=1200:*" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:gold">Ford Mustang</span><br>Modelo: <span style="color:grey">Shelby GT500 de 1967 </span><br>Motor: <span style="color:grey">V8 de 428 plg³ (7 L)</span> <br>Año: <span style="color:grey">2,048 unidades en 1967</span> <br>Categoria: <span style="color:grey">Clasico</span> </p>
                    <div class="d-flex justify-content-between align-items-center">


                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/augmented-reality/aventador/ultimae/ar_ultimae.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:red">Lamborghini</span><br>Modelo: <span style="color:grey">aventador-lp-780-4-ultimate </span><br>Motor: <span style="color:grey">W12 780cv</span> <br>Año: <span style="color:grey">2022</span> <br>Categoria: <span style="color:grey">Superdeportivo</span> </p>
                    <div class="d-flex justify-content-between align-items-center">


                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://wallpaperset.com/w/full/5/9/5/53883.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:green">Bmw</span><br>Modelo: <span style="color:grey">e46 M3 </span><br>Motor: <span style="color:grey">6cilindros en linea 343cv</span> <br>Año: <span style="color:grey">2000-2006</span> <br>Categoria: <span style="color:grey">Deportivo</span> </p>
                    <div class="d-flex justify-content-between align-items-center">


                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://periodismodelmotor.com/wp-content/uploads/2016/08/Koenigsegg-Agera-XS-2-1280x720.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:red">Koenigsegg</span><br>Modelo: <span style="color:grey">Agera </span><br>Motor: <span style="color:grey">V8 de 5litros 960cv</span> <br>Año: <span style="color:grey">2022</span> <br>Categoria: <span style="color:grey">Superdeportivo</span> </p>
                    <div class="d-flex justify-content-between align-items-center">

                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/VeilsideFortuneRX7front.jpg/1920px-VeilsideFortuneRX7front.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:#61A2DA">Nissan</span><br>Modelo: <span style="color:grey">Rx-7 VeilSide </span><br>Motor: <span style="color:grey">Single Turbo 300cv</span> <br>Año: <span style="color:grey">1978 - 2002</span> <br>Categoria: <span style="color:grey">Tuning</span> </p>
                    <div class="d-flex justify-content-between align-items-center">

                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Geneva_International_Motor_Show_2018%2C_Le_Grand-Saconnex_%281X7A0083%29.jpg/1920px-Geneva_International_Motor_Show_2018%2C_Le_Grand-Saconnex_%281X7A0083%29.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

                  <div class="card-body">
                    <p style="text-align:center" class="card-text">Marca : <span style="color:red">Porsche </span><br>Modelo: <span style="color:grey">911 Gt3 </span><br>Motor: <span style="color:grey">	Motor plano de 6 cilindros atmosférico 520cv</span> <br>Año: <span style="color:grey">2018</span> <br>Categoria: <span style="color:grey">Superdeportivo</span> </p>
                    <div class="d-flex justify-content-between align-items-center">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>




  </main>
  <div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" style="width: 100px;" src="https://seeklogo.com/images/F/ferrari-logo-7935CF173C-seeklogo.com.png" alt="..." aria-label="Microsoft Logo"></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" style="width: 100px;" src="https://seeklogo.com/images/N/NOS-logo-A2536195F9-seeklogo.com.png" alt="..." aria-label="Google Logo"></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" style="width: 200px;" src="https://cdn.worldvectorlogo.com/logos/lamborghini-logo-1.svg" alt="..." aria-label="Facebook Logo"></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" style="width: 200px;" src="https://logos-download.com/wp-content/uploads/2016/04/Supra_logo_black.png" alt="..." aria-label="IBM Logo"></a>
            </div>
        </div>
    </div>
</div>
  <div ><app-footer></app-footer></div>

      <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>




  <div style="position: static !important;"></div></body>
